{% extends 'base/base_settings.html' %}
{% load crispy_forms_tags %}
{% block head_title %}Password Changed{% endblock %}
{% block head %}
{% endblock head %}
{% block card %}
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h4>Password Changed</h4>
                <hr>
            </div>
        </div>
        <div class="row">

                            <div class="row">
                                <div class="col-md-12">
                                    <p> You have password change successfully.</p>
                                </div>
                            </div>
    </div>
{% endblock card %}

